.row {
	max-width:$global-width;
}

.banner {
	padding:2rem;
}

.story {

}

.story__background {
	position: fixed;
	  top: -50%;
	  left: -50%;
	  width: 200%;
	  height: 200%;
		.story__background--img {
			position: absolute;
		 top: 0;
		 left: 0;
		 right: 0;
		 bottom: 0;
		 margin: auto;
		 min-width: 50%;
		 min-height: 50%;
		}
}

.story__content {
	position: relative;
	z-index: 2;
	max-width:40rem;
	margin:5rem auto;
	//Contrasts
	h1 {
		color:inherit !important;
	}
	p {
		color:inherit !important;
		> a {
			text-decoration: underline;
			color:inherit !important;
		}
	}
}

.cyoa__footer {
	font-size: rem-calc(14);
}

//Accessibility

/* Text meant only for screen readers */
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

/* must have higher specificity than alternative color schemes inline styles */
.cyoa-wrapper .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}

.logged-in .rm-wrapper .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	font-family: "Open Sans", sans-serif;
}

.cyoa-wrapper .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}

//Utility classes

//Accessibility
.show-on-focus {
    position: absolute;
    top: -1000em;
}
.show-on-focus:focus {
  left:6px;
  top:7px;
  height:auto;
  width:auto;
	display: inline-block;
  font-size:14px;
  font-weight:700;
  padding:15px 23px 14px;
  background:#f1f1f1;
  color:#0073aa;
  z-index:100000;
  line-height:normal;
  text-decoration:none;
  -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);
  box-shadow:0 0 2px 2px rgba(0,0,0,.6)
}
